@font-face {
	font-family: 'TheSans-Plain';
	src: url('TheSans-Plain.eot');
    src: url('TheSans-Plain.eot?#iefix') format('embedded-opentype'),
         url('TheSans-Plain.woff') format('woff'), 
         url('TheSans-Plain.ttf')  format('truetype'), 
         url('TheSans-Plain.svg#svgFontName') format('svg'); 
}