@model List<Core.ViewModels.PagesViewModel>
@for (int i = 0; i < Model.Count; i++)
{
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">
                @Html.Hidden(string.Format("ListClacss[{0}].Id", i), Model[i].Id)
                @Html.Hidden(string.Format("ListClacss[{0}].Name", i), Model[i].Name)
                @Html.CheckBox(string.Format("ListClacss[{0}].IsChecked", i), Model[i].IsChecked, new { @Id = "IsChecked_" + Model[i].Id }) @Model[i].Name
            </label>
        </div>
    </div>
}